################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InsightSage/copilot-chat/eaf0074f/sessions
/.vs/InsightSage/CopilotIndices/17.14.878.3237
/.vs
/InsightSage.Tests/obj
/InsightSage.Shared/obj
/InsightSage.Infrastructure/obj
/InsightSage.Domain/obj
/InsightSage.API/obj
/InsightSage.Application/obj
/insightsage-web/.vscode
/node_modules
/InsightSage.API.Auth/bin/Debug/net9.0
/InsightSage.API.Auth/obj
/InsightSage.API.Core/bin/Debug/net9.0
/InsightSage.API.Core/obj
/InsightSage.Application/bin/Debug/net9.0
/InsightSage.Data/bin/Debug/net9.0
/InsightSage.Data/bin/Debug/net9.0/InsightSage.Data.deps.json
/InsightSage.Data/obj
/InsightSage.DataContext/bin/Debug/net9.0
/InsightSage.DataContext/bin/Debug/net9.0/InsightSage.DataContext.deps.json
/InsightSage.DataContext/obj
/InsightSage.Domain/bin/Debug/net9.0
/InsightSage.Infrastructure/bin/Debug/net9.0
/InsightSage.Shared/bin/Debug/net9.0
/InsightSage.Tests/bin/Debug/net9.0
